@font-face {
    font-family: "Minou";
    src:
     url("Minou_DEMO.otf") format("opentype"); 
}

nav{
    width:100%;
    padding:15px;
    display: flex;
    background-color: rgb(37, 35, 35);
    color: white;
    display:flex;
    justify-content: space-between;
    height: 75px;
    font-family: "Minou";
}

nav div a:hover{
    color:grey;
}

nav img{
    filter:invert()
}

nav div a{

    color:white;
    text-decoration: none;
    width: 100%;
    flex: 5;
}

body{
    margin: 0;
}

#SectA{
    width: 100%;
    clear: both;
}

#SectA img{
    width: 30%;
    float: left;
    margin: 10px;
}

#SectA div{
    padding: 10px;

}


*{
    box-sizing: border-box;
}

.button{
    border-radius: 10px;
    background-color: yellow;
    color: black;
}

.button:active{
    background-color: gold;
}